<h3>The Economy</h3>
<h5>how they make $$$</h5>
<ul>
  <li>Average Communte Time: <%= format_as_minutes(@people_info.average_commute_time) %><li>
  <li>Average Home Value: $ <%= number_with_delimiter(@people_info.home_value, delimiter: ', ') %><li>
  <li>Mode of Transportation:</li>
  <ul>
  <% @people_info.transportation.each do |type| %><li>
    <li><%= type %></li>
  <% end %>
  </ul>
</ul>