<div class="well span6 search_form">
  <div class="splash_header">Dynamite Urbanite</div>
  <div class="splash_subtitle">Discover the pulse of any US city</div>
  <%= form_tag cities_path, method: :get, class: "search_form_input" do %>
    <%= text_field_tag :query, params[:query], placeholder: "ex. Spokane, Washington" %>
    <%= submit_tag "Search", name: nil, class: "btn btn-large btn-success" %>
  <% end %>
</div>