<ul class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab">People</a></li>
  <li><a href="#tab2" data-toggle="tab">Economy</a></li>
  <li><a href="#tab3" data-toggle="tab">Things To Do</a></li>
  <li><a href="#tab4" data-toggle="tab">Places To Go</a></li>
  <li><a href="#tab5" data-toggle="tab">Photos</a></li>
  <li><a href="#tab6" data-toggle="tab">Hate It or Love It</a></li>
</ul>