<style type="text/css">
  body {
    background-image:url("http://www.1zoom.net/big2/84/256721-frederika.jpg");
  }

</style>

<div class="well span6" style="margin-top:25%; margin-left:25%">
  <div class="page-header">Dynamite Urbanite</div>
  <%= form_tag cities_path, method: :get do %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil, class: "btn-success" %>
  <% end %>
</div>

<table>
  <tr>
    <th></th>
  </tr>
<% if @cities.count == 0 %>
    <h3> So sorry, we were unable to find that city! </h3>
<% else %>
    <% @cities.each do |city| %>
      <tr>
        <td><%= link_to(city.full_name, city) %></td>
      </tr>
    <% end %>
<% end %>
</table>
