// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



li#weather_icon img{
  height:50px;
  width:50px;
}

.people-type{
  padding-bottom:15px;
}

.description-header{
  font-size:15px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
}

h4.versus { float: left; line-height: 45px; margin-left:40px; }

.bottom{
  padding-top:20px;
  padding-bottom: 20px;
  font-size: 20px
}

.page-top-header{
  font-size:30px;
  bottom:20px;
}

.no_margin{
  margin-left:0px !important;
  margin-right:0px;
  padding-left:0px;
}

.display_photo img{
  height: 250px;
  width: 250px;
  border-radius: 2px;
  padding-bottom: 25px;
}

.title_text{
  font-size: 40px;
}

.walkscore{
  font-size:28px;
}

/*Deals*/

.deal img{
  width: 300px;
  float: left;
  padding-right: 10px;
  display:block;
}

.deal_image_container {
  overflow:hidden;
  height: 150px !important;
}

.deal{
  width:250px;
  padding-right: 30px;
  height:250px;
}

.deal_button{
  position: relative;
  bottom: 0px;
  float:right;
}

.deal_caption{
  background-color:#D1D1D1;
  padding: 10px 10px 10px 15px;
  height: 220px;
}

.original_price{
  text-decoration:line-through;
  font-size:20px;
  padding-right:7px;
}

.deal_price{
  font-size:20px !important;
}

.deal_description{
  font-size:15px;
}

.quick_dash_title{
  font-size:20px;
  margin-bottom:10px;
}

.bottom_caption{
  font-size:15px;
}

/*Home Page*/
.splash_header{
  font-size:45px;
  margin-left:12%;
  margin-right:12%;
  color:white;
  padding-bottom:30px;
}

.search_form{
  margin-top:10%;
  margin-left:25%;
  background-color:rgba(0,0,0,.3);
}

.splash_subtitle{
  font-size:20px;
  margin-left:20%;
  margin-right:20%;
  padding-bottom:25px;
}

.search_form_input{
  padding:5px;
  border-radius:3px;
}

input#query{
  margin-top:7px;
  margin-left:20%;
  padding: 5px;
  height:25px;
  width:42%;
}

.result{
  margin-top:0%;
  color:white;
  font-size:20px;
}

li#list_results{
  padding:8px;
  margin:5px;
  font-size:18px;
}

.quick_dash_container{
  width:213px;
}

/*ul.unstyled#list_results li:nth-child(odd){
  background:#D1D1D1;
}

ul.unstyled#list_results li:hover{
  background:#D1D1D1;
}*/