// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.bottom{
  padding-bottom: 20px;
  font-size: 25px
}

.no_margin{
  margin-left:0px;
  margin-right:0px;
}

.display_photo img{
  height: 250px;
  width: 250px;
  border-radius: 2px;
  padding-bottom: 25px;
}