// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
 background: url("http://www.1zoom.net/big2/867/295902-alexfas01.jpg");
 background-repeat: no-repeat
}

.bottom{
  padding-bottom: 20px;
  font-size: 25px
}