
.average-commute-time {
  font-size: 45px;
  position: relative;
  top: 15px;
}


.vs {
  font-size: 20px;
  position: relative;
  top: 35px;
  padding-left: 25px
}

.foursquare{
  margin-top:5px;
  margin-bottom:5px
}

.deals{

}